{% extends 'layout.html' %}

{% block content %}

    <div class="jumbotron" style="padding: 5px 20px">
        <h2>{{ session.get("user_name") }}的个人中心</h2>
    </div>
    <div>
        {% include "user_menu.html" %}

        <div class="col-md-10">
            <div class="jumbotron">
                <h2>我上传的相册</h2>


            </div>

        </div>
    </div>

{% endblock %}


{% block js_code %}
    <script>
        $(document).ready(
            function () {
                $("#item-5").addClass('list-group-item-success')
            }
        );
    </script>
{% endblock %}
